body {
    background-color: #8F9E88;
    font-family: 'Acme', sans-serif;
    padding: 10px 0px;
    max-width: 100%  !important;
    overflow-x: hidden;
}

/*----------Bootstrap grid----------*/

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*----------HEADER SECTION----------*/

.header {
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin: 20px 20px 10px;
}

.description {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    margin: 0px 10px 20px;
}

@media only screen and (min-width: 768px) {
    .header {
        font-size: 3.5em
    }
    .description {
        font-size: 1.5em
    }
}

@media (min-width: 992px) {
    .header {
        font-size: 4em;
    }
    .description {
        font-size: 2em
    }
}

/*----------GAME BACKGROUND----------*/

.game-section {
    position: relative;
    background-color: white;
    max-width: 300px;
    margin: auto;
    font-family: sans-serif;
    min-height: 300px;
    border-radius: 10px;
    border: 2px solid black;
}

@media (min-width: 768px) {
    .game-section {
        max-width: 600px;
        min-height: 600px;
    }
}

@media (min-width: 992px) {
    .game-section {
        max-width: 800px;
    }
}

/*----------TIMER OPTION AND START BUTTON FORM----------*/
#timer-form {
    position: absolute;
    width: fit-content;
    max-width: 90%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    background-color: #8F9E88;
    border: 2px solid black;
}

.game-instructions-header {
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.seconds-text {
    font-size: 1em;
    color: white;
    padding: 5px;
}

.timer-select {
    vertical-align: middle;
}

#Startbtn {
    background-color: white;
    color: black;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
}

@media (min-width: 768px) {
    .game-instructions-header {
        font-size: 1.5em;
    }
    .seconds-text {
        font-size: 1.5em;
    }
    #Startbtn {
        font-size: 2.5em;
    }
}

@media (min-width: 992px) {
    .game-instructions-header {
        font-size: 2em;
    }
    .seconds-text {
        font-size: 2em;
    }
    #Startbtn {
        font-size: 3em;
    }
}

/*----------SCORE AND TIMER----------*/
#score-section {
    position: relative;
    padding: 10px 15px;
    text-align: left;
    margin: 0px;
    font-size: 1em;
    font-weight: bold;
}

#Score-Unit {
    margin: 0px;
}

.timer-section {
    text-align: right;
    padding: 10px 15px;
    position: relative;
    margin: 0px;
    color: black;
    font-weight: bold;
}

#timer {
    font-size: 1em;
}

@media (min-width: 768px) {
    #score-section {
        font-size: 1.5em;
    }

    #timer {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    #score-section {
        font-size: 2em;
    } 

    #timer {
        font-size: 2em;
    }
}

/*----------GAME FLAG QUIZ----------*/
.flag-section {
    text-align: center;
    min-height: 100px;
}

#flag-image {
    height:100px;
    width:100px;
}

@media (min-width: 768px) {
    #flag-image {
         height:200px;
         width:200px;
    }
}

/*----------CORRECT OR INCORRECT----------*/

#TruthSection {
    text-align: center;
}

.Correct {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
}

.Incorrect {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
}

@media (min-width: 768px) {
    .Correct {
        font-size: 1.5em
    }
    .Incorrect {
        font-size: 1.5em
    }
}

@media (min-width: 992px) {
    .Correct {
        font-size: 2em
    }
    .Incorrect {
        font-size: 2em
    }
}

/*----------GAME ANSWERS----------*/

#answers-section-width {
    min-height: 200px;
    margin: auto;
}

.answer-buttons {
    padding: 0px;
    text-align: center;
}

.answers {
    background-color: #8F9E88;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 130px;
    margin: 10px;
    padding: 5px;
    height: 120px;
    font-size: 1em;
}

@media (min-width: 768px) {
    .answers {
        width: 280px;
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .answers {
        width: 350px;
        font-size: 2em;
    }
}

/*----------HIGH SCORE----------*/

#HighScoreSection {
    padding: 5px;
    font-size: 1em;
}

#HighScoreHeader {
    margin:0px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

#HighScore-30-section {
    margin: 0px;
    text-align: right;
}

#HighScore-60-section {
    margin: 0px;
    text-align: left;
}

@media (min-width: 768px) {
    #HighScoreSection {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    #HighScoreSection {
        font-size: 2em;
    } 
}

/*----------FINSHED GAME----------*/

#cover-game {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    border-width: 0px;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
}

#FinalScoreSection {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
}

#FinalScore {
    font-size: 2em;
    padding-bottom:20px;
    font-weight: bold;
}

.highscoreshow {
    font-size: 1em;
}

.highscoreshow p {
    margin:5px;
}

#PlayAgain-section {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65%;
}

#PlayAgainBtn {
    background-color: #8F9E88;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
}

@media (min-width: 768px) {
    #FinalScore {
        font-size: 3.5em;
    }

    .highscoreshow {
        font-size: 1.5em;
    }



    #PlayAgainBtn {
        font-size: 3.5em;
    }
}

@media (min-width: 992px) {
    #FinalScore {
        font-size: 4em;
    }
    
    .highscoreshow {
        font-size: 2em;
    }

    #PlayAgainBtn {
        font-size: 4em;
    }
}

/*----------LOAD IN MODAL SECTION----------*/

.modal {
    color: black;
    text-align: left;
    display: block;
    font-family: sans-serif;
    border: 2px solid black;
}

.modal-title {
    font-size: 26px;
    font-weight: bold;
}

.modal-body {
    font-size: 20px;
}

.modal-btn {
    background-color: #8F9E88;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.modal-footer {
    text-align: right;
}

.modal-subtitle {
    font-weight: bold;
}